@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  background-color: #bdcace;
  font-family: 'Poppins', sans-serif;
}

.bg-theme {
  background-color: #1287a5;
}

.cart-icon {
  font-size: 2rem;
}

.hero-background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-background {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-warning {
  padding: 8px 35px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-family: inherit;
}

.card {
  box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
}